decord==0.6.0
einops==0.8.1
huggingface_hub
matplotlib==3.7.0
numpy==1.24.4
opencv_python==4.7.0.72
pyarrow==11.0.0
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.4.5
scipy==1.10.1
sentencepiece==0.1.99
torch==2.5.1
torchvision==0.20.1
wandb
seaborn
omegaconf
openai
pandas
validators
tabulate
sty
rich
portalocker
imageio
timeout_decorator
nltk
xlsxwriter
openpyxl
transformers==4.51.3
accelerate==1.10.1